.Banner {
    background-image: linear-gradient(rgba(0,0,0,0.48),rgba(0,0,0,0.48));
    height: 100vh;
    width: 100vw;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    position: relative;
    text-align: center;
}